<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <link rel="stylesheet" type="text/css" href="/style/profile.css">
    </head>
    <body>
      <div id="container">
        <header>
            <h1>Detalhes</h1>
        </header>

        <main>
            <p>Uhuuuul voce esta numa rota protegida</p>
            <img src="https://media1.giphy.com/media/26h0pHNtHKjmDo4WQ/giphy.gif" height="200px">
        </main>

        <nav>
          <ul>
            <li><a href="/">Principal</a></li>
            <% if (user) { %>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Sair</a></li>
            <% } else { %>
            <li><a href="/auth/login">Entrar</a></li>
            <li><a href="/auth/register">Registrar</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </body>
</html>
