<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <link rel="stylesheet" type="text/css" href="/style/profile.css">
    </head>
    <body>
      <div id="container">
        <header>
            <h1>Detalhes</h1>
            <h2><%= user.name? user.name : user.email%></h2>
        </header>

        <main>
            <img src="<%= user.thumbnail %>" />
            <a href="/auth/getDetails?token=<%= token %>">Ver mais</a>
        </main>

        <nav>
          <ul>
            <li><a href="/">Principal</a></li>
            <% if (user) { %>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Sair</a></li>
            <% } else { %>
            <li><a href="/auth/login">Entrar</a></li>
            <li><a href="/auth/register">Registrar</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </body>
</html>
