<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <link rel="stylesheet" type="text/css" href="/style/home.css"></link>
        <style>
          body {
            background-color: #b80000;
          }
        </style>
    </head>
    <body>
      <div id="container">
        <header>
            <h1>Erro</h1>
            <h2>Algo deu errado :(</h2>
        </header>

        <main>
          <% if (message) { %>
            <p><%= message %></p>
          <% } %>
        </main>

        <nav>
            <ul>
              <li><a href="/">Principal</a></li>
              <% if (user) { %>
              <li><a href="/profile">Perfil</a></li>
              <li><a href="/auth/logout">Sair</a></li>
              <% } else { %>
              <li><a href="/auth/login">Entrar</a></li>
              <li><a href="/auth/register">Registrar</a></li>
              <% } %>
            </ul>
        </nav>
      </div>
    </body>
</html>
