<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <link rel="stylesheet" type="text/css" href="/style/login.css">
        <style>
          form {
            background-color: transparent;
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          input {
            border: none;
            margin: 3% 0 3% 0;
            padding: 0 0 0 5%;
            height: 4vh;
            width: 13vw;
            font-size: 1em;
            font-family: 'Inconsolata', monospace;
          }

          button {
            margin: 3% 0 3% 0;
            font-family: 'Inconsolata', monospace;
          }
        </style>
    </head>
    <body>
      <div id="container">
        <header>
            <h1>Autenticação NodeJS</h1>
            <h2>Entrar</h2>
        </header>

        <main>
          <form action="/auth/login" method="POST">
            <input type="email" name="email" placeholder="email"><br>
            <input type="password" name="password" placeholder="senha"><br>

            <button type="submit">Entrar</button>
          </form>
          <div id="oauth-buttons">
          <a class="login-btn" id="google" href="/auth/google">Google+</a>
          <a class="login-btn" id="facebook" href="/auth/facebook">Facebook</a>
          </div>
        </main>

        <nav>
          <ul>
            <li><a href="/">Principal</a></li>
            <% if (user) { %>
            <li><a href="/profile">Perfil</a></li>
            <li><a href="/auth/logout">Sair</a></li>
            <% } else { %>
            <li><a href="/auth/login">Entrar</a></li>
            <li><a href="/auth/register">Registrar</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </body>
</html>
