<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <style>
            * {
              color: #00ff00;
            }
            body{
                font-family: arial;
                margin: 0;
                background: #000000;
            }
            nav{
                background: #252525;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #00ff00;
                font-size: 18px;
                background: rgba(0,255,0,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .google-btn{
                color: #000000;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #00ff00;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/oauth_login">Login</a></li>
                <li><a href="/oauth_logout">Logout</a></li>
            </ul>
        </nav>
        <header>
            <h1>Autenticação NodeJS</h1>
            <h2>Home</h2>
        </header>
        <main>
            <a class="google-btn" href="/google">Google+</a>
        </main>
    </body>
</html>
