<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <style>
          body {
            background-color: #2D00AA;
            font-family: 'Inconsolata', monospace;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
          }

          #container {
            background-color: #BBBBBB;
            width: 60vw;
            height: 45vh;
            padding: 6.125px 11.5px 7px 10.5px;
            border-style: solid;
            border-width: .875px 2px;
            box-shadow: -3.5px -7px 0 0 #bbb, 2.5px 6.125px 0 0 #bbb, -3.5px 6.125px 0 0 #bbb, 2.5px -7px 0 0 #bbb;
            filter: drop-shadow(7px 8px 0 black);
          }

          header, main {
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          #container h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            background-color: black;
            color: #BBBBBB;
          }

          #container form {
            background-color: transparent;
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          #container .create-user-input {
            border: none;
            margin: 3% 0 3% 0;
            padding: 0 0 0 5%;
            height: 5vh;
            width: 15vw;
            background: #000000;
            color: #BBBBBB;
            font-size: 20px;
          }

          #container nav {
            width: 60vw;
            position: absolute;
            bottom: 2vh;
            display: flex;
            justify-content: center;
          }

          #container nav li, #submit-btn {
            list-style-type: none;
            display: inline-block;
            border-color: #04a1a1;
            background: #04a1a1;
            color: #000000;
            border-radius: 0;
            font-size: 24px;
            padding: .20rem .70rem;
            filter: drop-shadow(5px 6px 0 black);
            margin-top: .25rem;
          }

          #submit-btn {
            width: 5vw;
          }

        #container nav li:hover, #submit-btn:hover {
            border-color: #d2ff55;
            background: #d2ff55;
            color: black;
        }

        nav a {
          color: #000000;
          font-size: 18px;
          text-decoration: none;
          padding: 10px;
          display: block;
        }
        </style>
    </head>
    <body>
      <div id="container">
        <header>
            <h1>Autenticação NodeJS</h1>
            <h2>Registrar</h2>
        </header>

        <main>
            <form action="/auth/register" method="POST">
              <input class="create-user-input" type="email" name="email" placeholder="email"><br>
              <input class="create-user-input" type="password" name="password" placeholder="password"><br>
              <button id="submit-btn" type="submit">Criar</button>
            </form>
        </main>

        <nav>
            <ul>
              <li><a href="/">Principal</a></li>
              <% if (user) { %>
              <li><a href="/profile">Perfil</a></li>
              <li><a href="/auth/logout">Sair</a></li>
              <% } else { %>
              <li><a href="/auth/login">Entrar</a></li>
              <li><a href="/auth/register">Registrar</a></li>
              <% } %>
            </ul>
        </nav>
      </div>
    </body>
</html>
